# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
dist/
build/
out/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Turbo
.turbo/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/generated/

# Misc
*.tsbuildinfo
.env.docker
